<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>My List</h1>
    <div>
        <a href="/">home</a>
        <a href="/search">search</a>
        <a href="/myList">My List</a>

    </div>
    <%if(!jobs.length){%>
        <h2>there is no data</h2>
    <%}else{jobs.forEach(job=>{%>
        <div>
        <h2><%=job.title%></h2>
        <h3><%=job.company%></h3>
        <h4><%=job.location%></h4>
        <a href="<%=job.url%>"><%=job.url%></a>
        <form action="/details/<%=job.id%>">
        <button>view Details</button>
        </form>
    </div>
    <%})}%>
</body>
</html>